<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Cho phép service chạy lại khi khởi động -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Cho foreground service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- Bắt buộc cho Android 13–14 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- Android 14 yêu cầu thêm -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:label="MoneyTracker"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AccountingApp"
        android:icon="@drawable/icon"
         >

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Notification Listener -->
        <service
            android:name=".BankNotificationService"
            android:label="MoneyTrackerService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true"
            android:foregroundServiceType="specialUse"> <intent-filter>
            <action android:name="android.service.notification.NotificationListenerService"/>
        </intent-filter>
        </service>

    </application>

</manifest>
